<!doctype html>
<html lang="id" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ block "title" . }}
			{{ if .Page.Title }}
				<title>{{ .Page.Title }} &middot; {{ .Site.Title }}</title>
			{{ else }}
				<title>{{ .Site.Title }}</title>
			{{ end }}
		{{ end }}
		{{ if .Page.Description }}
			<meta name="description" content="{{ .Page.Description }}">
		{{ else }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{ end }}
		<link rel="canonical" href="{{ .Permalink }}">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
		{{ block "stylesheet" . }}
			<!-- custom css -->
		{{ end }}

		<!-- Favicons -->
		<link rel="apple-touch-icon" href="/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
		<link rel="icon" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
		<link rel="icon" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
		<link rel="manifest" href="/assets/img/favicons/manifest.json">
		<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#ffffff">
		<link rel="icon" href="/assets/img/favicons/favicon.ico">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="d-sm-flex flex-sm-column h-100">

		{{ block "main" . }}
			<!-- The part of the page that begins to differ between templates -->
		{{ end }}

		{{ block "footer" . }}
			{{ partial "footer.html" . }}
		{{ end }}

		<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
		{{ block "javascript" . }}
			{{ if .Page.Params.javascript }}
				{{ range .Page.Params.javascript }}
					<script type="text/javascript" src="/assets/js/{{ . }}"></script>
				{{ end }}
			{{ end }}
		{{ end }}
	</body>
</html>
