{{ define "stylesheet" }}
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
{{ end }}

{{ define "main" }}
	{{ partial "breadcrumb.html" . }}
	<div class="container">
		<h1>{{ .Page.Title }}</h1>
		<div class="text-primary fw-bold mb-5">/posts/</div>
		<div class="row">
			<div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5" id="posts">
				<!-- sm:516 md:516 lg:536 xl:546 xxl:526 -->
				{{ range .Pages }}
					{{ partial "excerpt.html" . }}
				{{ end }}
			</div>
		</div>
		
	</div>
{{ end }}