<footer class="container mt-sm-auto">
	<div class="border-top d-flex flex-column flex-sm-row align-items-xxl-center py-4 gap-3 gap-sm-0">
		<div class="order-2 order-sm-1 small text-success text-center text-sm-start">
			<img src="/assets/img/favicons/favicon-32x32.png" alt="favicons" width="24px" class="me-1"> <b>proktor</b>.kolektif.my.id
		</div>
		<div class="order-1 order-sm-2 d-flex gap-3 gap-xl-4 mx-auto ms-sm-auto me-sm-0">
			<a href="https://pendmaponorogo.blogspot.com/" class="text-decoration-none" target="_blank" content="noindex">Pendma</a>
			<a href="https://github.com/manzapo/proktor" class="text-decoration-none" target="_blank">GitHub</a>
		</div>
	</div>
</footer>
