<footer class="container mt-sm-auto">
	<div class="border-top d-flex flex-column flex-sm-row py-4 py-sm-2 gap-3 gap-sm-0">
		<div class="order-2 order-sm-1 text-black-50">
			&copy; 2022 <b>proktor</b>.kolektif.my.id
		</div>
		<div class="order-1 order-sm-2 ms-sm-auto d-flex gap-3">
			<a href="https://pendmaponorogo.blogspot.com/" class="link-dark" target="_blank" content="noindex">Pendma</a>
			<a href="https://github.com/manzapo/proktor" class="link-dark" target="_blank">GitHub</a>
		</div>
	</div>
</footer>
