{{ define "title" }}
	<title>{{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
	<div class="container">
		<div class="p-4 p-sm-5 my-3 my-sm-5 bg-light rounded-4">
			<div class="row justify-content-center justify-content-md-evenly align-items-md-center gap-4 gap-md-0">
				<div class="order-2 order-md-1 col-sm-12 col-md-7 col-lg-5 text-center text-md-start">
					<h1 class="fw-bold">{{ .Site.Title }}</h1>
					<p class="lead mb-0">Publikasi tidak resmi Pelaksana Aplikasi Kemenag Ponorogo. Dikelola secara kolektif sebagai index pengarsipan berbagai kegiatan.</p>
				</div>
				<div class="order-1 order-md-2 col-sm-6 col-md-5 col-lg-4">
					<img src="/assets/index/undraw_dev_productivity_re_fylf.svg" alt="Dev productivity" class="img-fluid">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5" id="posts">
				<!-- sm:516 md:516 lg:536 xl:546 xxl:526 -->
				<div class="d-flex flex-row align-items-center border-bottom pb-1 mb-3">
					<h5 class="flex-grow-1">Unggahan Terbaru</h5>
					<a href="/posts/" class="text-decoration-none">Selengkapnya</a>
				</div>

				{{ range first 6 (where .Site.RegularPages.ByWeight "Type" "posts") }}

					{{ partial "excerpt.html" . }}

				{{ end }}

			</div>
		</div>
	</div>
{{ end }}